*{
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

input:focus {
  outline: 0;
}

#login-box {
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  background: #232323;
  padding: 20px;
  gap: 10px;
}

.input {
  padding: 5px 20px;
  text-align: start;
  border-radius: 5px;
  border: 0;
  background: #343434;
  color: white;
}

#username {
  color: white;
  font-size: 1.5rem;
}

#search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #191919;
  padding-top: 10px;
  gap: 10px;
}

#search-container {
  display: flex;
  width: 90%;
  padding: 15px 30px;
  background: #232323;
  border-radius: 5px;
}

#search-result {
  display: flex;
  width: 100%;
  background: #101010;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.filme-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filme-box > img {
  background: #222222;
  width: 150px;
  height: 220px;
}

.filme-box > p {
  width: 140px;
  color: white;
  font-size: 0.8rem;
}

#search-container > input {
  flex: 1;
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  text-align: center;
  color: #00ff5e;
}


#listas{
  width: 100%;
  background: #232323;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.listas-container{
  display: flex;
  gap: 20px;
  align-items: center;
}

.listas-container>h5{
  color: #00ff5e;
  font-size: 1rem;
}

.button {
  padding: 5px 20px;
  text-align: start;
  border-radius: 5px;
  border: 0;
  background: #00ff5e;
  color: black;
  font-weight: 700;
}

.disable {
  display: none;
}
